[Unit]
Description=A server for streaming Motion-JPEG from a video capture device
After=network.target

[Service]
User=pi
Environment="LD_LIBRARY_PATH=/home/pi/octoprint/mjpg-streamer/mjpg-streamer-experimental/"
ExecStart=/home/pi/octoprint/mjpg-streamer/mjpg-streamer-experimental/mjpg_streamer -i "/home/pi/octoprint/mjpg-streamer/mjpg-streamer-experimental/input_raspicam.so -fps 5" -o "/home/pi/octoprint/mjpg-streamer/mjpg-streamer-experimental/output_http.so"

[Install]
WantedBy=multi-user.target
