[Unit]
Name=
Description=A server for streaming Motion-JPEG from a video capture device
After=network.target

[Service]
User=mjpg_streamer
ExecStart=/usr/bin/mjpg_streamer -i "./input_raspicam.so -fps 5" -o "./output_http.so"
Environment=LD_LIBRARY_PATH=~/octoprint/mjpg-streamer/mjpg-streamer-experimental/

[Install]
WantedBy=multi-user.target